<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Vue Gun js UI</title>
		<meta name="description" content="A cool thing made with Glitch">
		<link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--
		<script src="https://cdn.jsdelivr.net/npm/gun/gun.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/gun/lib/time.js"></script>
		-->
		<script>
			var req = new XMLHttpRequest();
			req.addEventListener("progress", function(event) {
				//console.log('??', event.lengthComputable);
				if (event.lengthComputable) {
					var percentComplete = (event.loaded / event.total) * 100;
					percentComplete = Math.floor(percentComplete);
					//console.log(percentComplete);
					document.getElementById('percent').innerText = percentComplete + '%';
					document.getElementById('progressbar').value = percentComplete;
				} else {
					// Unable to compute progress information since the total size is unknown
					console.log("Unable to compute progress");
				}
			}, false);
			// load responseText into a new script element
			req.addEventListener("load", function(event) {
				var e = event.target;
				var s = document.createElement("script");
				s.innerHTML = e.responseText;
				// or: s[s.innerText!=undefined?"innerText":"textContent"] = e.responseText
				document.documentElement.appendChild(s);
				s.addEventListener("load", function() {
					// this runs after the new script has been executed...
					//init();
				});
				//console.log("loaded");
			}, false);
			function transferFailed(event) {
				console.log("An error occurred while transferring the file.");
			}
			req.addEventListener("error", transferFailed);
			function transferCanceled(event) {
				console.log("The transfer has been canceled by the user.");
			}
			req.addEventListener("abort", transferCanceled);
			req.open("GET", "/bundle.js");
			req.send();
			function progressbar(event){
				console.log("loading...");
			}
    	</script>
		<style>
			* { padding: 0; margin: 0; }
			/*
			html, body, #fullheight {
				min-height: 100% !important;
				height: 100%;
			}
			*/
			.loader {
				border: 16px solid #f3f3f3;
				border-radius: 50%;
				border-top: 16px solid #3498db;
				width: 120px;
				height: 120px;
				-webkit-animation: spin 2s linear infinite; /* Safari */
				animation: spin 2s linear infinite;
			}
			/* Safari */
			@-webkit-keyframes spin {
				0% { -webkit-transform: rotate(0deg); }
				100% { -webkit-transform: rotate(360deg); }
			}
			@keyframes spin {
				0% { transform: rotate(0deg); }
				100% { transform: rotate(360deg); }
			}
    	</style>
  	</head>
	<body>
		<div id="loading">
		<div class="loader"></div>
		<span id="percent"> </span> Loading App...
		<br><progress id="progressbar" value="0" max="100"></progress>
		</div>
		<div id="app"></div>
    	<!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix 
    	<div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    	<script src="https://button.glitch.me/button.js"></script>
    	-->
		<!-- import the webpage's client-side javascript file -->
		<!--
		<script id="progressbarid" onprogress="progressbar()" src="/bundle.js"></script>
		-->
		<script>
			//document.body.addEventListener("load", (e)=>{
				//console.log("progressbarid load?");
			//});
			//window.addEventListener("load",(e)=>{
				//console.log("loaded?");
			//});
		</script>
  	</body>
</html>
