html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}

body.light {
	--text-color: white;
	--bg-color: black;
}
//theme dark
body.dark {
	--text-color: black;
	--bg-color: white;
}

body {
	background-color: var(--text-color);
	color: var(--bg-color);
	//position:relative;
	//height: 100%;
}

.toggler {
	//width: 400px;
	width: 100%;
	//height: 200px;
}

#effect { width: 240px; height: 170px; padding: 0.4em; position: relative; }
#effect h3 { margin: 0; padding: 0.4em; text-align: center; }

#app{
	//position:relative;
	width: 100%; 
	height: 100%;
}

#main{
	position:absolute;
	width: 100%; 
	height: 100%;
	top:0px;
	left:0px;
}

#view{
	width: 100%;
	height: 100%;
}

#messagelist{
	overflow:auto;
}